{:kotoba.app/id "cloud.itonami.isic-6201", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreif3475n5debbgqiu7apkqlzqhfzdswpfzqm4ixz34wxiqow6jnj7i", :kotoba.app/embed-url "ipfs://bafkreif3475n5debbgqiu7apkqlzqhfzdswpfzqm4ixz34wxiqow6jnj7i", :published {:archive "https://kotobase.net/ipfs/bafkreif3475n5debbgqiu7apkqlzqhfzdswpfzqm4ixz34wxiqow6jnj7i", :size 71993, :put-status 201, :get-status 200, :at "2026-08-15T13:51:35.857Z"}}
